<div class="header">
  <nav class="navbar">
    <ul>
      <li><a href="#page1">Page 1</a></li>
      <li><a href="#page2">Page 2</a></li>
      <li><a href="#page3">Page 3</a></li>
      <li><a href="#page4">Page 4</a></li>
      <li><a href="#page5">Page 5</a></li>
    </ul>
  </nav>
</div>

<div class="page-container">
<div class="page" id="page1"#pageRef>
  <h1>Üdvözöllek pékségünk honlapján!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="page" id="page2"#pageRef>
  <h1>Page 2</h1>
  <p>Curabitur ac nisi luctus, dapibus libero vel, aliquam massa.</p>
</div>
<div class="page" id="page3" #pageRef>
  <h1>Page 3</h1>
  <p>Phasellus volutpat risus vel arcu fermentum, dapibus venenatis arcu dapibus.</p>
</div>
<div class="page" id="page4" #pageRef>
  <h1>Page 4</h1>
  <p>Aliquam fringilla dui a tortor dignissim, non maximus erat viverra.</p>
</div>
<div class="page" id="page5" #pageRef>
  <h1>Page 5</h1>
  <p>Mauris ac tortor eget metus efficitur placerat quis et ligula.</p>
</div>
</div>

