<header class="header">
  <nav class="navbar">
    <div class="logoSvg-container">
      <img class="logoSvg" src="assets/icons/logo_svg.svg" alt="Logo" />
    </div>
    <ul>
    <!-- Navigációs lista -->
      <li><a href="#page1">Főoldal</a></li>
      <li><a href="#page2">Rólunk</a></li>
      <li><a href="#page3">Termékeink</a></li>
      <li><a href="#page4">Kapcsolat</a></li>
    </ul>
  </nav>
</header>


<body class="body">
<div class="page-container">

  <div class="page" id="page1" #pageRef>

    <div class="page-content">
      <h2 class="home-sz">Üdvözöllek Pékségünk honlapján!</h2>
      <p>Frissen sült kenyereink és péksüteményeink minden nap várnak rád.<br>Látogass el hozzánk,<br> és kóstold meg a édes és sós finomságainkat!</p>
    </div>
  </div>

  <div class="page" id="page2" #pageRef>
    <div class="page-content">
      <h1>Page 2</h1>
      <p>Curabitur ac nisi luctus, dapibus libero vel, aliquam massa.</p>
    </div>
  </div>

  <div class="page" id="page3" #pageRef>
    <div class="page-content">
      <h1>Page 3</h1>
      <p>Phasellus volutpat risus vel arcu fermentum, dapibus venenatis arcu dapibus.</p>
    </div>
  </div>

  <div class="page" id="page4" #pageRef>
    <div class="page-content">
      <h1>Page 4</h1>
      <p>Aliquam fringilla dui a tortor dignissim, non maximus erat viverra.</p>
    </div>
  </div>

  <div class="page" id="page5" #pageRef>
    <div class="page-content">
      <h1>Page 5</h1>
      <p>Mauris ac tortor eget metus efficitur placerat quis et ligula.</p>
    </div>
  </div>
</div>
</body>
